.root {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.modal {
    width: 100%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    border: 1px solid rgba(17, 0, 255, 0.5);
    border-radius: 8px;
    font-size: 14px;
}

.header {
    width: 100%;
    height: 9%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    b {
        margin-right: 45%;
    }
}


.content {
    padding: 5px;
    width: 95%;
    height: 91%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    font-family: Brush Script MT;  
}
ul {
    list-style-type: decimal;
    padding: 10px
}

@media (min-width: 550px) {
    .modal {
        width: 75%;
        height: 55%;
    }
}
@media (min-width: 768px) {
    .modal {
        width: 75%;
        height: 45%;
    }
}
@media (min-width: 1200px) {
    .modal {
        width: 60%;
        height: 45%;
    }
}
